<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="农村,农场旅游,户外活动,农村干货,健康食品,有机绿色,原生态" />
    <meta name="description" content="发现最真的,地道农家味,农家干货,农副产品">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="header">
        <div class="top clearfix">
            <div class="maincontent">
                <ul class="left">
                    <li><a href="http://bx.doyouhike.net/?clear=true&from=top">潇湘农产</a></li>
                    <li><a href="http://www.doyouhike.net/appdownload" class="mb_app_link">大美边疆</a></li>
                </ul>
                <ul class="right">
                    <li><a href="http://www.doyouhike.net/user/login?url=%2F" rel="nofollow" class="co-3e8">登录</a> </li>
                    <li><a href="http://www.doyouhike.net/user/register" rel="nofollow" class="co-3e8 mr_23">免费注册</a></li>
                    <li><a href="http://www.doyouhike.net/#" class="co-3e8" rel="nofollow" id="switch_version" version="new">我有农货</a></li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <div class="maincontent">
                <a href="./磨房 - 自助旅行和户外运动的出发地 - 磨房_files/磨房 - 自助旅行和户外运动的出发地 - 磨房.html" class="logoA"><img alt="" src="./磨房 - 自助旅行和户外运动的出发地 - 磨房_files/logo_new.gif" id="LogoImg"></a>
            </div>
        </div>
        <div class="nav">
            <div class="maincontent">
                <ul>
                    <li class="navlist curr">
                        <a href="./磨房 - 自助旅行和户外运动的出发地 - 磨房_files/磨房 - 自助旅行和户外运动的出发地 - 磨房.html" class="index_a">鲜农首页</a>
                    </li>
                    <li class="navlist">
                        <a class="navlist_a" href="/Product/Detail"><span class="dest_txt">农鲜直达</span></a>
                        <b class="cover"></b>
                        <div class="subnav dest_mod">
                            <dl>
                                <dt><a href="http://www.doyouhike.net/dest">属相篇</a></dt>
                                <dd><a href="http://www.doyouhike.net/dest/gannan">干货</a>|<a href="http://www.doyouhike.net/dest/gongga">水产</a>|<a href="http://www.doyouhike.net/dest/namucuo">飞禽</a>|<a href="http://www.doyouhike.net/dest/Qinghaihu">走兽</a>|<a href="http://www.doyouhike.net/dest/yili">手工作坊</a>|<a href="http://www.doyouhike.net/dest/nianbaoyuze">家常</a>|<a href="http://www.doyouhike.net/dest">更多...</a></dd>
                            </dl>
                            <dl class="last">
                                <dt><a href="http://www.doyouhike.net/guide" style="position: relative;">四季篇<cite class="filter_nums">new</cite><cite class="area_zero"></cite></a></dt>
                                <dd><a href="http://www.doyouhike.net/guide#f1">春</a>|<a href="http://www.doyouhike.net/guide#f2">夏</a>|<a href="http://www.doyouhike.net/guide#f3">秋</a>|<a href="http://www.doyouhike.net/guide#f4">冬</a></dd>
                            </dl>
                        </div>
                    </li>
                    <li class="navlist">
                        <a class="navlist_a">享乐农场</a>
                        <b class="cover"></b>
                        <div class="subnav event_mod" style="width:    200px;">
                            <dl>
                                <dt><a href="http://www.doyouhike.net/event">预订新鲜第一手美味</a></dt>
                                <dd></dd>
                            </dl>
                            <dl class="last">
                                <dt><a href="http://www.doyouhike.net/activity">走农家 带上我农游吧</a></dt>
                                <dd>
                                    <a href="http://www.doyouhike.net/forum/discover_guangzhou/">吃在农场</a>|
                                    <a href="http://www.doyouhike.net/city/shantou/2283478,0,0,0.html">远足农场</a>|
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="navlist">
                        <a class="navlist_a">三农故事</a>
                        <b class="cover"></b>
                        <div class="subnav">
                            <dl>
                                <dt><a href="http://www.doyouhike.net/forum">农场往事</a></dt>
                                <dd>
                                    <a href="http://www.doyouhike.net/forum/backpacking/">洋淘湖农场</a>|<a href="http://www.doyouhike.net/forum/globe/">大美湘西</a>|<a href="http://www.doyouhike.net/forum/onwheel/">边疆风味</a>|<a href="http://www.doyouhike.net/forum/photo/">漠北风情</a>|<a href="http://www.doyouhike.net/forum/gear/">关外曲</a>|<a href="http://www.doyouhike.net/forum/nature/">更多</a>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="navlist last">
                        <a class="navlist_a">农事百科</a>
                        <b class="cover"></b>
                        <div class="subnav service_mod">
                            <dl><dt><a>干货农副产品</a></dt><dd><a href="http://bx.doyouhike.net/?clear=true&from=top">水果</a> | <a href="http://www.doyouhike.net/hotel/">坚果</a> | <a href="http://www.doyouhike.net/dujia">营养</a> | <a href="http://visa.doyouhike.net/" target="_ablank">健康</a></dd></dl>
                            <dl class="last"> <dt><a>农技</a></dt><dd><a href="http://www.doyouhike.net/shop">农药</a> | <a href="http://www.doyouhike.net/bazaar/">化肥</a> | <a href="http://mofangwang.taobao.com/" target="_blank">节气</a></dd></dl>
                        </div>
                    </li>
                </ul>
                <div class="searchbox index_page_searchbox dest_search_wrap">
                    <form action="http://www.doyouhike.net/s/" method="get" class="search_form" name="search_form" id="search_form">
                        <input isindex="1" type="text" maxlength="25" value="" name="keyword" class="search_input master_search text" placeholder="搜索|发现更多乐趣" autocomplete="off">
                        <input type="hidden" value="top_search" id="from" name="from">

                    </form>
                    <div class="search_popupmenu">
                        <ul></ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*顶部下拉*/
        $('#header .downlist').hover(function(){
            $(this).addClass('downlist_curr');
            if($(this).find('.sublist_message').size()) $('#new_message').hide();
        },function(){
            $(this).removeClass('downlist_curr');
            $('#new_message').show();
        });

        /*导航下拉*/
        $('#header .navlist').hover(function(){
            $(this).addClass('navlist_curr');
        },function(){
            $(this).removeClass('navlist_curr');
        });

        /*关闭弹窗框*/
        $('#new_message .close').click(function(){
            $('#new_message').hide();
            $.get('/my/pm/alert_switch',function(data){

            },'json');
            return false;
        });
    </script>
    <div class="container">
        @RenderBody()
    </div>
    <div id="footer">
        <div class="footerContent">
            <!--help-->
            <div class="helpCenter">
                <dl class="first">
                    <dt>关于我们</dt>
                    <dd><a href="http://www.doyouhike.net/doc/about.html">鲜农简介</a></dd>
                    <dd><a href="http://www.doyouhike.net/doc/job.html">加入鲜农</a></dd>
                    <dd><a href="http://www.doyouhike.net/doc/contact.html">联系我们</a></dd>
                </dl>
                <dl>
                    <dt>网站条款</dt>
                    <dd><a href="http://www.doyouhike.net/doc/copyright.html">版权说明</a></dd>
                    <dd><a href="http://www.doyouhike.net/doc/privacy.html">隐私条款</a></dd>
                    <dd><a href="http://www.doyouhike.net/doc/declaration.html">权利声明</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.doyouhike.net/doc/about.html">帮助中心</a></dt>
                    <dd><a href="http://www.doyouhike.net/doc/city_forum.html">鲜农历程</a></dd>
                    <dd><a href="http://www.doyouhike.net/forum/leisure/176462,0,0,0.html">推荐阅读</a></dd>
                    <dd><a href="http://www.doyouhike.net/doc/links.html">友情链接</a></dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd class="sina"><a href="http://weibo.com/1819732165">新浪微博</a></dd>
                    <dd class="weixin">
                        <a href="javascript:void(0);">mofangweixin</a>
                        <img alt="磨房微信" class="weixinqr" src="./磨房 - 自助旅行和户外运动的出发地 - 磨房_files/bottom_weiin.png">
                    </dd>
                </dl>
                <dl class="last">
                    <dt>移动应用</dt>
                    <dd class="phone"><a href="http://www.doyouhike.net/appdownload">点击查看全部</a></dd>
                    <dd class="phone"><a href="javascript:void(0);">移动端下载扫一扫&gt;&gt;</a></dd>
                </dl>

                <div class="clear"></div>
            </div>
            <p class="copyP">
                © 2000 - 2015 www.farmexp.com  Version 4.7.8 - 2015-05-05 17:46:59 +0800 PowerBy shatan  粤ICP备11038623号-2 &nbsp;
                <!--<a href="https://cert.ebs.gov.cn/03ac4c8d-aca7-4753-b8fe-b88d06fbb77a" target="_blank"><img src="https://cert.ebs.gov.cn/Images/govIcon.gif" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" width="20" height="27" style="border-width:0px;border:hidden;" /></a>-->
                <!--<script type="text/javascript" src="1http://www.ebs.gov.cn/Validate/IconProcess.aspx?domainid=03ac4c8d-aca7-4753-b8fe-b88d06fbb77a&show=pic&width=20&height=27" ></script>-->
            </p>
            <ul>
                <li><a href="http://www.doyouhike.net/doc/about.html">关于我们</a>|</li>
                <li><a href="http://www.doyouhike.net/doc/copyright.html">版权声明</a>|</li>
                <li><a href="http://www.doyouhike.net/doc/copyright.html">隐私保护</a>|</li>
                <li><a href="http://www.doyouhike.net/doc/contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
